/* Style the form container */
.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the form headings */
.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the form labels */
.form-label {
    display: block;
    margin-bottom: 10px;
}

/* Style the form inputs */
.form-input {
    width: calc(100% - 10px); /* Adjust width and subtract the border width */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle; /* Align vertically */
}

/* Style the form button */
.form-button,
.custom-file-input-button {
    background-color: #00BFFF;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-right: 5px; /* Adjust margin for better alignment */
    font-size: 14px; /* Adjust font size */
}

/* Change button color on hover */
.form-button:hover,
.custom-file-input-button:hover {
    background-color: #0080FF;
}

/* Remove unnecessary styling for file input button */
input[type="file"] {
    display: none; /* Hide the default file input */
}

/* Style the custom file input button */
.custom-file-input-button {
    background-color: #00BFFF;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px; /* Adjust padding */
    margin-left: 5px;
}
