/* Dashboard.css */

.navbar {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative; /* Added relative positioning */
}

.menu-icon {
    color: white;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
}

.cart-icon,
.user-icon {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.menu-items {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    display: none;
}

.menu-items.show {
    display: block;
    z-index: 1000;
}

.user-menu { /* Added user-menu styles */
    position: absolute;
    top: 100%;
    right: 1px;
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    display: none;
}

.user-menu.show { /* Show the user menu when toggled */
    display: block;
    z-index: 1000;
}

.menu-items a,
.user-menu a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}

.menu-items a:hover,
.user-menu a:hover {
    background-color: #555;
}
